@mixin customFont(
  $size,
  $family,
  $weight,
  $lineHeight: null,
  $color,
  $style: normal
) {
  font-size: $size;
  font-family: $family;
  font-weight: $weight;

  @if $lineHeight {
    line-height: $lineHeight;
  } @else {
    line-height: $size;
  }

  font-style: $style;
  color: $color;
}

@mixin responsive($query) {
  @if $query == desktop {
    @media (max-width: 1200px) and (min-width: 993px){
      @content;
    }
  } @else if $query == tablet {
    @media (max-width: 992px) and (min-width: 481px) {
      @content;
    }
  } @else if $query == mobile {
    @media (min-width: 320px) and (max-width: 480px) {
      @content;
    }
  } @else if $query == code-example {       // for setting width of code - example image
    @media (min-width: 481px) and (max-width: 768px) {
      @content;
    }
  } 
}