//font families
$ff-main: "Montserrat", sans-serif;
$ff-secondary: "Lato", sans-serif;

// font-sizes
//desktop
$fs-82: 82px;
$fs-60: 60px;
$fs-24: 24px;
$fs-16: 16px;
$fs-54: 54px;
$fs-48: 48px;
$fs-30: 30px;
$fs-21: 21px;
$fs-15: 15px;
$fs-14: 14px;
//tablet
$fs-72: 72px;
$fs-42: 42px;
//mobile
$fs-36: 36px;
$fs-32: 32px;
$fs-28: 28px;
$fs-26: 26px;
$fs-18: 18px;

//font weights
$fw-7: 700;
$fw-4: 400;



